
# unity project
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild/
UnityProject/[Bb]uilds/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/

UnityProject/**/*.csproj
UnityProject/**/*.unityproj
UnityProject/**/*.sln
UnityProject/**/*.suo
UnityProject/**/*.tmp
UnityProject/**/*.user
UnityProject/**/*.userprefs
UnityProject/**/*.pidb
UnityProject/**/*.booproj
UnityProject/**/*.svd
UnityProject/**/*.pdb
UnityProject/**/*.mdb
UnityProject/**/*.opendb
UnityProject/**/*.VC.db


# maria server
**/bin/
**/obj/
Server/MariaServer/Debug
