
# unity project
Client/UnityProject/[Ll]ibrary/
Client/UnityProject/[Tt]emp/
Client/UnityProject/[Oo]bj/
Client/UnityProject/[Bb]uild/
Client/UnityProject/[Bb]uilds/
Client/UnityProject/[Ll]ogs/
Client/UnityProject/[Uu]ser[Ss]ettings/
Client/UnityProject/Assets/StreamingAssets/

Client/UnityProject/**/*.csproj
Client/UnityProject/**/*.unityproj
Client/UnityProject/**/*.sln
Client/UnityProject/**/*.suo
Client/UnityProject/**/*.tmp
Client/UnityProject/**/*.user
Client/UnityProject/**/*.userprefs
Client/UnityProject/**/*.pidb
Client/UnityProject/**/*.booproj
Client/UnityProject/**/*.svd
Client/UnityProject/**/*.pdb
Client/UnityProject/**/*.mdb
Client/UnityProject/**/*.opendb
Client/UnityProject/**/*.VC.db


# maria server
**/bin/
**/obj/
Server/MariaServer/Debug
Server/MariaServerNative/cmake-build-debug
Server/MariaServerNative/cmake-build-release

# tools
Tools/ServerOperation/Logs


